@import url('http://fonts.cdnfonts.com/css/quiet-meows');

/* Variables */
$brown: #402a27;
$bg-not-so-white: #f9f9f9;
$very-pale-bg: #f7f4ef;
$dark-gold: #BFB38D;
$light-gold: #EAE6C1;
$very-pale-gold: #f2f0dc;
$very-pale-pink: #F6EBE4;
$soft-pink: #FEE9EC;
$blush: #efe2dc;
$dark-pink: #D1B0BD;

.container-sign-in {
  border-radius: 10px;
  background-color: $very-pale-bg;
  width: 40% !important;
  margin: 100px auto;
  border: $brown 2px solid;
  padding-bottom: 60px;
}

form {
  margin-top: 20px;
}


.h1-sign-in {
  margin: 0 auto !important;
  width: 70%;
  margin: 0 auto;

  h1 {
    font-family: 'Quiet Meows', sans-serif;
    font-size: 5vh;
    color: $brown;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 992px) {

  .container-sign-in {
    width: 80% !important;
    margin: 50px auto;
    padding-bottom: 30px;
  }

  form {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .h1-sign-in {
    margin: 0 auto !important;
    width: 70%;
  
    h1 {
      font-size: 4vh;
      margin-top: 30px;
    }
  }
}
