@import url('http://fonts.cdnfonts.com/css/quiet-meows');
@import url('http://fonts.cdnfonts.com/css/smiling-animal');

.cry {
  font-family: 'Smiling Animal', sans-serif;
  font-size: 5vh;
  color: #7a665c;
}

.error {
  font-family: 'Quiet Meows', sans-serif;
  font-size: 10vh;
  color: #d1b0bd;
}



